body {
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    margin: 8px;
}

.box-default {
    padding: 30px;
    border: 10px solid #faa;
}

.box-new {
    box-sizing: border-box;
    padding: 30px;

    border: 10px solid green;
}
