*{
    margin: 0;
    padding: 0;

}

body{
    font-family: Bricolage Grotesque, sans-serif;
    background-color: #222;
    color: #aaa;
    padding: min(1em,2%);

}

h2{
    text-align: center;
    padding: min(1em,1%);
    color: #eee;



}

form{
    background-color: #222;
    padding: min(1em,2%);
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 32px  #7177;
    border-radius: 16px;
}

label{
    color: #fff;
    font-size: 0.9em;
    line-height: 2;
}
.form-input {
    padding: min(1em,2%);

}
input, textarea, select{
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    padding: min(1em,1%);

    border: 1px solid #aaa;
    border-left: 4px solid #A4A;
    border-radius: 0px 16px 16px 0px;
    margin-bottom: 8px;
    background-color: #333;
    color: #eee;
    font-size: 0.9em;
    font-family: Bricolage Grotesque, sans-serif;


}

option{
    background-color: #222;

}



.form-input:focus{
    border: 2px solid #a4a;

}


textarea{
    margin: auto;
    font-weight: 200;
    letter-spacing: 0.05em;
    min-height: 64px;
    color: #fff;
    resize: none;
    border-radius: 0px 2px 2px 0px;


}

.checkbox{
    width: auto;
    display: inline;

}


