div {
    background: red;
    width: 400px;
    padding: 16px;
    margin: 16px;
}

.formulario_texts {
    width: 80%;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}

.formulario_submit {
    letter-spacing: 4px;
    text-transform: uppercase;
    background: green;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    width: 50%;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
}

.formulario_submit:hover {
    background: greenyellow;
    color: black;
}

.divtest {
    background: gray;
    height: 150px;
    width: 150px;
    margin: 30px;
}
