*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #010101;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
}

.element{
    height: 100dvh;
    padding: 2em;
    background: #df5757;
    color: white;
    border: 15px solid blueviolet;
}

.card {
    background: #8f5252;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 32px;
}

h1 {

    font-size: clamp(1.8rem,calc(7vw + 1rem),5rem);
    padding: min(5em, 8%);
}

h2 {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}

p {
    font-size: 10px;
    background: #b67171;
    text-align: justify;
    padding: min(5em, 8%);
}

img{


    height: 100dvh;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    background: #110101;
}
